<style>
    .error {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .success {
        padding: 20px;
        background-color: #6cb886;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Sucess!</strong> {{ message }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Error!</strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <br>
{% endif %}